.headers-bg{
    margin-top: 10px;
    background:url('../../../images/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position:relative;
}
.headers-bg::after{
    position:absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.301);
    top:0;
    left: 0;
}
.slider-banner{
    padding: 200px;
    
}
.carousel{
    z-index: 99;
}
.carousel-caption{
    position: unset;
}
.slider-banner button{
  margin-top: 100px;
  margin-left: 20px;
  background: #45668E;
  border: none;
  border-radius:10px;
  color:#fff;
  padding: 10px 20px;
}
.slider-banner .slider-btn{
   margin-left: 250px;
}

@media(max-width: 468px){
     .slider-btn{
        margin:0px !important;
    }
    .slider-banner{
        padding: 80px!important;
    }
    .headers-bg{
        
    }
}