.contact-form form input{
    width:100%;
    margin-bottom: 20px;
    height: 50px;
    padding: 10px;
    outline: none;
    
}
.contact-form form textarea{
    width: 100%;
    padding: 10px;
    outline: none;
    height: 100px;
}
.contact-form form{
    margin-left: 30px;
}
.form-section{
    margin-left: 50px;
}
@media(max-width:467px){
    .contact-form form{
        margin:0px !important;
    }
}